.logo{
    height: 40px;
    width: 60px;
}
.logo1{
        height: 85px;
        width: 70px;
    }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(3) translateY(20px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 13s ease-out;
  }
  
  .animate-scale-in {
    animation: scaleIn 1s cubic-bezier(0.16, 1, 0.3, 1);
  }
#whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  z-index: 9999;
}

#whatsapp-float img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
